.SimpleBar {
    height: 100%;
    width: 100%;
    max-height: 258px;
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.PulseLoader {
    text-align: end;
}