.container {
    height: 210px;
    background-color: var(--dark-blue);
    position: relative;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    height: 100%;
    z-index: 20;
    margin: auto;
    border: 1px solid white;
    margin-top: 10px;
    position: relative;
}

img.worldMap {
    position: absolute;
    right: 0;
    z-index: 10;
}

.title {
    font-family: "Big Shoulders", sans-serif;
    font-weight: 800;
    color: var(--light-green);
    font-size: 2.7rem;
    line-height: 0;
}

.slogan {
    font-size: 0.76rem;
    color: #fff;
    line-height: 0;
    position: absolute;
    top: 125px;
}