.container {
    width: 100%;
}

form {
    /* padding: 10px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.inputText {
    background-color: #f5f5f5;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    max-width: 280px;
    border-radius: 10px;
    border: 2px solid var(--light-grey);
    padding: 5px;
}

.inputText input {
    width: 100%;
    padding: 2px 5px;
    outline: none;
    background-color: transparent;
    border: none;
    font-size: 1rem;
}

.inputText button {
    padding: 2px;
    width: 30px;
    border: none;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputText button img {
    width: 20px;
}

.langSelector {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 250px;
    margin-top: 20px;
}

.langSelector input {
    display: none;
}

.langSelector label {
    height: 38px;
    overflow: hidden;
}

.langSelector label.active {
    border: 3px solid var(--light-blue);

}

.langSelector label:not(.active) img {
    margin: 3px;
}