.container {
    height: calc(100% - 240px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 4px solid black;
    margin: 15px;
    border-radius: 15px;
    padding: 24px;
}